# Google Gemini API Key (Required)
GOOGLE_API_KEY=your_google_api_key_here

# LangSmith Tracing (Optional but Recommended)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langchain_api_key_here

# Ollama
NCKU_HOST=school_host_start_with_https://api-gateway......
NCKU_API_KEY=your_api_key_here
